/Linkedlist_implementation.class
/Node.class
/Node$Linkedlist_implementation.class
/LL$Node.class
/LL.class
/LL$Linkedlist_implementation.class
/Linkedlist_implementation$Node.class
/Linkedlist_collection.class
/Reversinglinkedlist.class
/Search_list.class
/Deletenodesgreaterthan25.class
